Repository Farfetch/maestro, pull requests merged in 2022-02, with the labels that each got.

#158 build(deps-dev): remove pre-commit dependency
  agent/Pipfile
  agent/Pipfile.lock
  web/api/Pipfile
  web/api/Pipfile.lock
Labels: dependencies

#162 feat: add agent image release to docker registry
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
Labels: enhancement, agent

#165 feat: update PUT `/run/{id}` with notes field
  web/api/maestro_api/controllers/run.py
  web/api/maestro_api/db/models/run.py
  web/api/maestro_api/swagger/template.yml
  web/api/maestro_api/validation_schemas.py
  web/api/tests/routes/test_run.py
Labels: enhancement, api

#166 feat: add running test notes edit form
  web/frontend/src/components/Run/RunningStatus/NotesInput/RunNotesInput.js
  web/frontend/src/components/Run/RunningStatus/NotesInput/RunNotesInput.test.js
  web/frontend/src/components/Run/RunningStatus/NotesInput/__snapshots__/RunNotesInput.test.js.snap
  web/frontend/src/components/Run/RunningStatus/NotesInput/index.js
  web/frontend/src/components/Run/RunningStatus/RunRunningStatus.js
  web/frontend/src/lib/api/__tests__/run.test.js
  web/frontend/src/lib/api/endpoints/run.js
  web/frontend/src/pages/RunSingle.js
Labels: enhancement, frontend

#169 feat: update getting started guide
  .github/styles/Vocab/Base/accept.txt
  README.md
  docs/docker_images.md
  docs/getting_started/configuration.md
  docs/getting_started/create_test.md
  docs/getting_started/setup_environment.md
Labels: documentation

#170 feat: add `JMETER_IMAGE_HEAP` configuration
  agent/.env.example
  agent/jmeter/Dockerfile
  agent/maestro_agent/services/docker.py
  agent/maestro_agent/settings.py
  docs/getting_started/configuration.md
Labels: enhancement, agent

#171 feat: init GitHub pages deployment
  .github/workflows/deploy.yml
  site/docusaurus.config.js
  site/src/pages/index.js
Labels: documentation

#174 chore: update usage documentation links
  README.md
Labels: documentation

#178 fix: edit documentation edit link
  site/docusaurus.config.js
Labels: bug

#189 feat: add status badges from shields.io
  README.md
Labels: documentation

#203 feat: add `MAESTRO_CSV_WRITER_ENABLED` toggle
  agent/maestro_agent/services/running_test/threads_manager.py
  agent/maestro_agent/settings.py
Labels: enhancement, agent

#208 feat: update JMeter vocabulary
  .github/styles/Vocab/Base/accept.txt
  README.md
  agent/Dockerfile
  agent/README.md
  docs/architecture.md
  docs/getting_started/configuration.md
  docs/getting_started/create_test.md
  docs/getting_started/setup_environment.md
  docs/intro.md
  site/docusaurus.config.js
  web/api/maestro_api/swagger/template.yml
  web/frontend/public/index.html
  web/frontend/src/components/RunConfiguration/Form/FormItems/RunPlan/RunPlanFormItem.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/RunPlan/__snapshots__/RunPlanFormItem.test.js.snap
  web/frontend/src/components/RunConfiguration/Form/RunConfigurationForm.js
Labels: documentation, javascript

#211 fix: use run status property for page auto-reload
  web/frontend/src/pages/RunSingle.js
Labels: bug, frontend

#207 feat: add labels field for `Run`, `RunConfiguration` objects
  web/api/maestro_api/controllers/run.py
  web/api/maestro_api/controllers/run_configuration.py
  web/api/maestro_api/db/models/run.py
  web/api/maestro_api/db/models/run_configuration.py
  web/api/maestro_api/swagger/template.yml
  web/api/maestro_api/validation_schemas.py
  web/api/tests/routes/test_run.py
  web/api/tests/routes/test_run_configuration.py
Labels: enhancement, api

#209 feat: running tests labels management
  web/frontend/src/components/Run/ListTable/RunListTable.js
  web/frontend/src/components/Run/ListTable/RunListTable.test.js
  web/frontend/src/components/Run/ListTable/__snapshots__/RunListTable.test.js.snap
  web/frontend/src/components/Run/RunningStatus/EditableLabelsGroup/RunEditableLabelsGroup.js
  web/frontend/src/components/Run/RunningStatus/EditableLabelsGroup/RunEditableLabelsGroup.test.js
  web/frontend/src/components/Run/RunningStatus/EditableLabelsGroup/__snapshots__/RunEditableLabelsGroup.test.js.snap
  web/frontend/src/components/Run/RunningStatus/EditableLabelsGroup/index.js
  web/frontend/src/components/Run/RunningStatus/RunRunningStatus.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/Title/TitleFormItem.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/Title/__snapshots__/TitleFormItem.test.js.snap
  web/frontend/src/components/RunConfiguration/Form/RunConfigurationForm.js
  web/frontend/src/components/RunConfiguration/Form/handlers.js
  web/frontend/src/components/tag/RunStatusTag/RunStatusTag.js
  web/frontend/src/components/tag/RunStatusTag/__snapshots__/RunStatusTag.test.js.snap
  web/frontend/src/lib/api/__tests__/run.test.js
  web/frontend/src/lib/api/__tests__/runConfiguration.test.js
  web/frontend/src/lib/api/endpoints/run.js
  web/frontend/src/lib/api/endpoints/runConfiguration.js
  web/frontend/src/pages/TestsSingle.js
Labels: enhancement, frontend

#212 feat: add running test timer
  web/frontend/package.json
  web/frontend/src/components/Run/RunningStatus/RunRunningStatus.js
  web/frontend/src/components/Run/RunningStatus/RunningTime/RunRunningTime.js
  web/frontend/src/components/Run/RunningStatus/RunningTime/RunRunningTime.test.js
  web/frontend/src/components/Run/RunningStatus/RunningTime/__snapshots__/RunRunningTime.test.js.snap
  web/frontend/src/components/Run/RunningStatus/RunningTime/index.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/AvailableAgents/AvailableAgents.test.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/AvailableAgents/__snapshots__/AvailableAgents.test.js.snap
  web/frontend/yarn.lock
Labels: enhancement, frontend

#204 feat: adds jmeter backend listener plugin
  .github/workflows/ci.yml
  .github/workflows/release-beta.yml
  .github/workflows/release.yml
  docs/assets/hits_vs_errors.webp
  docs/assets/response_codes.webp
  docs/assets/response_time.webp
  docs/assets/summary.webp
  jmeter/Dockerfile
  jmeter/Makefile
  jmeter/jmeter_plugins.txt
  jmeter/plugins/jmeter-backendlistener-maestro/.gitignore
  jmeter/plugins/jmeter-backendlistener-maestro/.prettierrc
  jmeter/plugins/jmeter-backendlistener-maestro/README.md
  jmeter/plugins/jmeter-backendlistener-maestro/docs/img/jmeter_backend_listener.png
  jmeter/plugins/jmeter-backendlistener-maestro/pom.xml
  jmeter/plugins/jmeter-backendlistener-maestro/src/main/java/com/farfetch/jmeter/backendlistener/maestro/MaestroBackendClient.java
  jmeter/plugins/jmeter-backendlistener-maestro/src/main/java/com/farfetch/jmeter/backendlistener/maestro/MaestroHttpMetricSender.java
  jmeter/plugins/jmeter-backendlistener-maestro/src/test/java/com/farfetch/jmeter/backendlistener/maestro/MaestroBackendClientTest.java
Labels: enhancement, agent

#220 feat: add `maestroBackendListener` plugin to JMeter test plan
  web/api/maestro_api/api_routes.py
  web/api/maestro_api/controllers/run_plan.py
  web/api/maestro_api/libs/jmx.py
  web/api/maestro_api/libs/utils.py
  web/api/maestro_api/settings.py
  web/api/maestro_api/swagger/template.yml
  web/api/maestro_api/validation_schemas.py
  web/api/tests/libs/test_jmx.py
Labels: enhancement, api

#221 feat: download modified JMeter test plan with `maestroBackListener`enabled
  agent/maestro_agent/services/jmeter/properties.py
  agent/maestro_agent/services/maestro_api/run_plan.py
  agent/tests/services/jmeter/test_properties.py
Labels: enhancement, python, agent

#225 feat: remove usage of client/server agent roles
  web/frontend/src/components/RunConfiguration/Form/FormItems/AvailableAgents/AvailableAgents.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/AvailableAgents/AvailableAgents.test.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/AvailableAgents/__snapshots__/AvailableAgents.test.js.snap
  web/frontend/src/components/RunConfiguration/Form/RunConfigurationForm.js
  web/frontend/src/components/RunConfiguration/Form/handlers.js
  web/frontend/src/lib/api/__tests__/run.test.js
  web/frontend/src/lib/api/__tests__/runConfiguration.test.js
  web/frontend/src/lib/api/endpoints/run.js
  web/frontend/src/lib/api/endpoints/runConfiguration.js
  web/frontend/src/pages/TestsSingle.js
Labels: enhancement, frontend

#228 feat: update `run_status` based agent status updates
  web/api/maestro_api/controllers/run_agent.py
  web/api/maestro_api/controllers/run_status.py
  web/api/maestro_api/swagger/template.yml
  web/api/tests/routes/test_run_agent.py
  web/api/tests/routes/test_run_status.py
Labels: enhancement, api

#230 fix: conditions when to show running test timer
  web/frontend/src/components/Run/RunningStatus/RunRunningStatus.js
Labels: bug, frontend

#231 feat: add filter params to GET `/runs` endpoint
  web/api/maestro_api/api_routes.py
  web/api/maestro_api/controllers/run.py
  web/api/maestro_api/libs/utils.py
  web/api/maestro_api/swagger/template.yml
  web/api/maestro_api/validation_schemas.py
  web/api/tests/routes/test_run.py
Labels: enhancement, api

#232 feat: add RunListTable filters by status and label
  web/frontend/src/components/Run/ListTable/RunListTable.js
  web/frontend/src/components/Run/ListTable/__snapshots__/RunListTable.test.js.snap
Labels: enhancement, frontend

#235 feat: add schedule for `RunConfiguration` model
  web/api/maestro_api/controllers/run_configuration.py
  web/api/maestro_api/db/models/run_configuration.py
  web/api/maestro_api/enums.py
  web/api/maestro_api/swagger/template.yml
  web/api/maestro_api/validation_schemas.py
  web/api/tests/routes/test_run_configuration.py
Labels: enhancement, api

#236 feat: add run configuration schedule block
  web/frontend/src/components/RunConfiguration/Form/FormItems/Schedule/SceduleFormItem.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/Schedule/SceduleFormItem.test.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/Schedule/__snapshots__/SceduleFormItem.test.js.snap
  web/frontend/src/components/RunConfiguration/Form/FormItems/Schedule/index.js
  web/frontend/src/components/RunConfiguration/Form/RunConfigurationForm.js
  web/frontend/src/components/RunConfiguration/Form/handlers.js
  web/frontend/src/lib/api/__tests__/runConfiguration.test.js
  web/frontend/src/lib/api/endpoints/runConfiguration.js
  web/frontend/src/pages/TestsSingle.js
Labels: enhancement, frontend
