Repository Farfetch/maestro, pull requests merged in 2022-08, with the labels that each got.

#468 feat: Disable cache on the metrics results
  web/api/maestro_api/controllers/run_metric.py
Labels: enhancement, api

#479 feat: specify package in Pipfile
  web/api/Pipfile
  web/api/Pipfile.lock
Labels: api, dependencies

#482 fix: regenerate pipfile.lock
  web/api/Pipfile.lock
Labels: api, dependencies

#481 feat: add expandable view over label
  web/frontend/src/components/Run/RunningStatus/SummaryTable/RunSummaryTable.js
Labels: enhancement, frontend
