Repository Farfetch/maestro, pull requests merged in 2022-03, with the labels that each got.

#250 fix: schedule time storing format
  web/frontend/src/components/RunConfiguration/Form/RunConfigurationForm.js
  web/frontend/src/lib/date.js
  web/frontend/src/pages/TestsSingle.js
Labels: bug, frontend

#249 feat: start run by using schedule from configuration
  web/api/maestro_api/__init__.py
  web/api/maestro_api/controllers/run.py
  web/api/maestro_api/db/models/run_configuration.py
  web/api/maestro_api/db/repo/run.py
  web/api/maestro_api/scheduler.py
  web/api/maestro_api/settings.py
  web/api/scheduler.py
  web/api/tests/test_scheduler.py
Labels: enhancement, api

#251 fest: add `Next Run` column for tests list table
  web/frontend/src/components/RunConfiguration/Table/RunConfigurationsTable.js
  web/frontend/src/components/RunConfiguration/Table/RunConfigurationsTable.test.js
  web/frontend/src/components/RunConfiguration/Table/__snapshots__/RunConfigurationsTable.test.js.snap
  web/frontend/src/lib/date.js
Labels: enhancement, frontend

#275 deps: remove `flask-mongoengine`, `mongoengine_goodjson` deps
  web/api/.editorconfig
  web/api/Pipfile
  web/api/Pipfile.lock
  web/api/maestro_api/controllers/agent.py
  web/api/maestro_api/controllers/agent_log.py
  web/api/maestro_api/controllers/custom_data.py
  web/api/maestro_api/controllers/event.py
  web/api/maestro_api/controllers/run.py
  web/api/maestro_api/controllers/run_agent.py
  web/api/maestro_api/controllers/run_configuration.py
  web/api/maestro_api/controllers/run_plan.py
  web/api/maestro_api/db/models/agent.py
  web/api/maestro_api/db/models/agent_log.py
  web/api/maestro_api/db/models/custom_data.py
  web/api/maestro_api/db/models/event.py
  web/api/maestro_api/db/models/run.py
  web/api/maestro_api/db/models/run_agent.py
  web/api/maestro_api/db/models/run_configuration.py
  web/api/maestro_api/db/models/run_metric.py
  web/api/maestro_api/db/models/run_metric_label.py
  web/api/maestro_api/db/models/run_plan.py
  web/api/maestro_api/db/mongo.py
  web/api/maestro_api/libs/flask/utils.py
  web/api/tests/routes/test_run.py
Labels: api, dependencies, python

#278 feat: add PUT `/run_log`, GET `/run_log/<run_id>/download`
  web/api/.editorconfig
  web/api/.vscode/launch.json
  web/api/maestro_api/api_routes.py
  web/api/maestro_api/controllers/run_log.py
  web/api/maestro_api/db/models/run_log.py
  web/api/maestro_api/swagger/template.yml
  web/api/tests/routes/test_run_log.py
Labels: enhancement, api

#280 feat: add button to download logs
  web/frontend/src/components/Run/RunningStatus/MoreButtonsMenu/MoreButtonsMenu.js
  web/frontend/src/components/Run/RunningStatus/MoreButtonsMenu/MoreButtonsMenu.test.js
  web/frontend/src/components/Run/RunningStatus/MoreButtonsMenu/__snapshots__/MoreButtonsMenu.test.js.snap
  web/frontend/src/components/Run/RunningStatus/MoreButtonsMenu/index.js
  web/frontend/src/components/Run/RunningStatus/RunRunningStatus.js
  web/frontend/src/lib/routes.js
Labels: enhancement, frontend

#282 feat: create user and workspace during sing in
  web/api/maestro_api/auth_routes.py
  web/api/maestro_api/db/models/user.py
  web/api/maestro_api/db/models/workspace.py
  web/api/maestro_api/db/repo/user.py
  web/api/maestro_api/services/auth/authorization.py
  web/api/maestro_api/services/auth/oauth.py
  web/api/maestro_api/services/auth/request_validator.py
  web/api/maestro_api/settings.py
  web/api/tests/db/repo/test_user.py
  web/api/tests/services/auth/test_oauth.py
Labels: enhancement, api

#283 feat: GET, PUT, POST for users and workspaces
  web/api/maestro_api/api_routes.py
  web/api/maestro_api/controllers/user.py
  web/api/maestro_api/controllers/workspace.py
  web/api/maestro_api/db/models/user.py
  web/api/maestro_api/db/repo/user.py
  web/api/maestro_api/swagger/template.yml
  web/api/maestro_api/validation_schemas.py
  web/api/tests/db/repo/test_repo_user.py
  web/api/tests/routes/test_user.py
  web/api/tests/routes/test_workspace.py
Labels: enhancement, api

#284 feat: add GET `/me` endpoint
  web/api/maestro_api/api_routes.py
  web/api/maestro_api/controllers/user.py
  web/api/maestro_api/libs/flask/decorators.py
  web/api/maestro_api/settings.py
  web/api/maestro_api/swagger/template.yml
  web/api/tests/routes/test_user.py
Labels: enhancement, api

#292 feat: add GET `/monitoring` endpoints
  web/api/maestro_api/__init__.py
  web/api/maestro_api/monitoring.py
Labels: enhancement, api, python

#293 feat: DELETE `/user/id>`, `/workspace/<id>` endpoints
  web/api/maestro_api/api_routes.py
  web/api/maestro_api/controllers/user.py
  web/api/maestro_api/controllers/workspace.py
  web/api/maestro_api/swagger/template.yml
  web/api/tests/routes/test_user.py
  web/api/tests/routes/test_workspace.py
Labels: enhancement, api

#294 feat: list of workspaces and users
  web/frontend/src/Router.js
  web/frontend/src/components/Workspace/CreateWorkspaceForm/CreateWorkspaceForm.js
  web/frontend/src/components/Workspace/CreateWorkspaceForm/CreateWorkspaceForm.test.js
  web/frontend/src/components/Workspace/CreateWorkspaceForm/__snapshots__/CreateWorkspaceForm.test.js.snap
  web/frontend/src/components/Workspace/CreateWorkspaceForm/index.js
  web/frontend/src/components/Workspace/CreateWorkspaceModal/CreateWorkspaceModal.js
  web/frontend/src/components/Workspace/CreateWorkspaceModal/index.js
  web/frontend/src/components/Workspace/EditWorkspaceModal/EditWorkspaceModal.js
  web/frontend/src/components/Workspace/EditWorkspaceModal/index.js
  web/frontend/src/components/Workspace/ListTable/WorkspaceListTable.js
  web/frontend/src/components/Workspace/ListTable/index.js
  web/frontend/src/components/layout/PageTitle/PageTitle.js
  web/frontend/src/components/layout/PageTitle/PageTitle.test.js
  web/frontend/src/lib/api/__tests__/user.test.js
  web/frontend/src/lib/api/__tests__/workspace.test.js
  web/frontend/src/lib/api/endpoints/user.js
  web/frontend/src/lib/api/endpoints/workspace.js
  web/frontend/src/pages/AgentSingleLogs.js
  web/frontend/src/pages/Agents.js
  web/frontend/src/pages/Tests.js
  web/frontend/src/pages/Workspaces.js
Labels: enhancement, frontend

#296 fix: add unique email user validation
  web/api/maestro_api/controllers/user.py
  web/api/tests/routes/test_user.py
Labels: bug, api

#301 deps: upgrade pip to 22.0.4 and pipenv to 2022.3.23
  .github/workflows/ci.yml
  agent/Dockerfile
  web/Dockerfile
Labels: dependencies, github_actions

#302 feat: add workspace_id for Run, RunConfiguration
  web/api/maestro_api/api_routes.py
  web/api/maestro_api/controllers/run.py
  web/api/maestro_api/controllers/run_configuration.py
  web/api/maestro_api/controllers/workspace.py
  web/api/maestro_api/db/models/run.py
  web/api/maestro_api/db/models/run_configuration.py
  web/api/maestro_api/db/repo/run.py
  web/api/maestro_api/swagger/template.yml
  web/api/maestro_api/validation_schemas.py
  web/api/tests/routes/test_run.py
  web/api/tests/routes/test_run_agent.py
  web/api/tests/routes/test_run_configuration.py
  web/api/tests/routes/test_run_metric.py
  web/api/tests/routes/test_run_status.py
  web/api/tests/test_scheduler.py
Labels: enhancement, api

#309 feat: use images from docker registry
  docker-compose.yml
Labels: enhancement

#325 fix: delete runs along with run confiuguration
  web/api/maestro_api/controllers/run_configuration.py
  web/api/tests/routes/test_run_configuration.py
Labels: bug, api

#326 feat: add ability to delete runs and configurations
  web/frontend/src/components/Run/ListTable/DeleteButton/RunDeleteButton.js
  web/frontend/src/components/Run/ListTable/DeleteButton/index.js
  web/frontend/src/components/Run/ListTable/RunListTable.js
  web/frontend/src/components/Run/ListTable/RunListTable.test.js
  web/frontend/src/components/Run/ListTable/__snapshots__/RunListTable.test.js.snap
  web/frontend/src/components/RunConfiguration/Table/DeleteButton/RunConfigurationDeleteButton.js
  web/frontend/src/components/RunConfiguration/Table/DeleteButton/index.js
  web/frontend/src/components/RunConfiguration/Table/RunConfigurationsTable.js
  web/frontend/src/components/RunConfiguration/Table/RunConfigurationsTable.test.js
  web/frontend/src/components/RunConfiguration/Table/__snapshots__/RunConfigurationsTable.test.js.snap
  web/frontend/src/components/User/CreateUserForm/CreateUserForm.js
  web/frontend/src/components/User/CreateUserForm/CreateUserForm.test.js
  web/frontend/src/components/User/CreateUserForm/__snapshots__/CreateUserForm.test.js.snap
  web/frontend/src/components/Workspace/CreateWorkspaceForm/CreateWorkspaceForm.js
  web/frontend/src/components/Workspace/CreateWorkspaceForm/CreateWorkspaceForm.test.js
  web/frontend/src/lib/api/__tests__/run.test.js
  web/frontend/src/lib/api/__tests__/runConfiguration.test.js
  web/frontend/src/lib/api/endpoints/run.js
  web/frontend/src/lib/api/endpoints/runConfiguration.js
  web/frontend/src/pages/History.js
  web/frontend/src/pages/Tests.js
Labels: enhancement, frontend
