Repository Farfetch/maestro, pull requests merged in 2022-06, with the labels that each got.

#404 fix: jmeter heap variable override
  agent/jmeter/Dockerfile
Labels: bug

#410 bump: node version to 16.15.1
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  site/.nvmrc
  web/Dockerfile
  web/frontend/.nvmrc
Labels: documentation, frontend, dependencies, github_actions

#423 fix: metrics response with time interval 0
  web/api/maestro_api/db/repo/run_metric.py
  web/api/tests/routes/test_run_metric.py
Labels: bug, api
