Repository Farfetch/maestro, pull requests merged in 2022-10, with the labels that each got.

#520 feat: updates JMeter version to 5.5
  jmeter/Dockerfile
Labels: dependencies, agent

#541 feat: add select/deselect endpoints
  web/frontend/src/components/Run/RunningStatus/AnalyticCharts/RunAnalyticCharts.js
  web/frontend/src/components/Run/RunningStatus/EndpointCharts/HitsErrorsLabelLine/HitsErrorsLabelLine.js
  web/frontend/src/components/Run/RunningStatus/EndpointCharts/RunEndpointCharts.js
  web/frontend/src/components/Run/RunningStatus/RunRunningStatus.js
Labels: enhancement, frontend

#544 feat: add time when run started
  web/frontend/src/components/Run/RunningStatus/RunRunningStatus.js
Labels: enhancement, frontend

#545 feat: add MAESTRO_STORE_RAW_METRICS setting
  web/api/maestro_api/controllers/run_metric.py
  web/api/maestro_api/settings.py
Labels: enhancement, api

#546 feat: add clone button to run configuration
  web/frontend/src/components/RunConfiguration/Form/RunConfigurationForm.js
Labels: enhancement, api
