Repository Farfetch/maestro, pull requests merged in 2023-06, with the labels that each got.

#700 feat: toggle enable/disable load profiler, tests added
  web/api/maestro_api/controllers/run_configuration.py
  web/api/maestro_api/db/models/run_configuration.py
  web/api/maestro_api/validation_schemas.py
  web/frontend/src/components/RunConfiguration/Form/FormItems/LoadConfiguration/LoadConfigurationFormItem.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/LoadConfiguration/LoadConfigurationFormItem.test.js
  web/frontend/src/components/RunConfiguration/Form/FormItems/LoadConfiguration/__snapshots__/LoadConfigurationFormItem.test.js.snap
  web/frontend/src/components/RunConfiguration/Form/RunConfigurationForm.js
  web/frontend/src/lib/api/__tests__/runConfiguration.test.js
  web/frontend/src/lib/api/endpoints/runConfiguration.js
  web/frontend/src/pages/TestsSingle.js
Labels: enhancement, api, frontend

#713 feat: RunsMonitor logic was added to RunningContext
  web/frontend/src/components/Dashboard/RunsMonitor/RunsMonitor.js
  web/frontend/src/context/Running/RunningContext.js
Labels: refactoring, frontend

#722 fix: Change the load_profile pattern sent to Jmeter container
  agent/maestro_agent/libs/threading.py
  agent/maestro_agent/services/jmeter/properties.py
  agent/tests/services/jmeter/test_properties.py
Labels: agent

#723 feat: Create the metrics page
  docs/assets/getting_started/metrics_flow.svg
  docs/getting_started/configuration.md
  docs/getting_started/metrics.md
Labels: documentation
